telegram:
  token: your_bot_token_here
  robot_id:
  - robot_id_here
  receiver_id:
  - receiver_id_here
bybit:
  api_key: your_api_key_here
  secret_key: your_secret_key_here
  testnet: false
trading:
  system: true
  mode: false
  tp: 2-3-5-8
  stop: 2.25
  risk: 0.12
  leverage: 25
  multiplier: 100
